* {
    /* Change your font family */
    font-family: sans-serif;
   
}
.ok{
    background-color:  #34495e;
    font-size: 25px;
    text-align: center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr  {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
   
}

.content-table tbody tr:nth-of-type(even) {
    background-color:  #009879;
    color: #ffffff;
}
.content-table tbody tr:nth-of-type(odd) {
    background-color:#34495e;
    color: #ffffff;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.content-table{
    margin-left: auto;
    margin-right: auto;
}
.container,.row,.form-control,.col-md-12,.col-md-4{
    background-color: #009879;
    color:sienna ;
    box-sizing:border-box;
   
   
}
.container,.col-md-4{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #34495e;
    
   
}
h1{
    text-align: center;
   color:  white;
   background-color: #34495e;
   
}
h2{
    text-align: center;
    color:  white;
    background-color: #34495e;
}
    .okk{
    background-color:  #34495e;
}